<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>학생 목록</title>
</head>
<body>
<h1>학생 목록</h1>
<a href="/univ/students/new">새 학생 추가</a>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Card</th>
		<th>Enroll</th>
	</tr>
	<tr th:each="student : ${students}">
		<td th:text="${student.id}"></td>
		<td th:text="${student.name}"></td>
		<td th:text="${student.studentCard != null ? student.studentCard.cardNumber : 'No Card'}"></td>
		<td>
			<form method="post" th:action="@{/univ/enroll}">
				<input name="studentId" th:value="${student.id}" type="hidden"/>
				<select name="courseId">
					<option th:each="course : ${courses}"
					        th:text="'Course '+${course.title}" th:value="${course.id}"></option>
				</select>
				<button type="submit">Enroll(수강 신청)</button>
			</form>
			<form method="post" th:action="@{/univ/assign-card}">
				<input name="studentId" th:value="${student.id}" type="hidden"/>
				<input name="cardNumber" placeholder="Card Number" type="text"/>
				<button type="submit">Assign Card(카드 신청)</button>
			</form>
		</td>
	</tr>
</table>
</body>
</html>