nav {
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav > ul > li {
  /* display: inline;
  padding: 10px; */
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: gray;
  color: white;
  padding: 10px;
}
