<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Todo list</title>
</head>
<body>
<h1>Todo list</h1>
<a href="/todos/create">+ Add Todo</a>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Done</th>
		<th>Action</th>
	</tr>
	<tr th:each="todo : ${todos}">
		<td th:text="${todo.id}"></td>
		<td th:text="${todo.title}"></td>
		<td th:text="${todo.done}"></td>
		<td>
			<a th:href="@{/todos/edit/{id}(id=${todo.id})}">Edit</a>
			<form method="post" th:action="@{/todos/delete/{id}(id=${todo.id})}">
				<button type="submit">Delete</button>
			</form>
		</td>
	</tr>

</table>
</body>
</html>